@mixin mediaLg {
  @media screen and(max-width: 1140px) {
    #sec1 {
      .welcom {
        height: 350px;
        h2 {
          font-size: 4rem;
          line-height: 5rem;
        }
        span.welcome-single {
          margin-right: 90px;
          text-align: right;
        }
        span.w {
          font-size: 5.56rem;
        }
        p {
          width: 300px;
        }
      }
      .main-img-div {
        img {
          width: 500px;
          padding-bottom: 10px;
        }
      }
    }
  }
}
@mixin mediaMd {
  @media screen and(max-width: 900px) {
    #sec1 {
      .welcom {
        height: 300px;
        h2 {
          font-size: 3rem;
          line-height: 3.8rem;
        }
        span.welcome-single {
          margin-right: 60px;
          text-align: right;
        }
        p {
          padding-top: 1rem;
          width: 200px;
          font-size: 0.8rem;
        }
      }
      .main-img-div {
        img {
          width: 400px;
          padding-bottom: 10px;
        }
      }
    }
  }
}
@mixin mediaSm {
  @media screen and(max-width: 705px) {
    header {
      h1#sami {
        width: 100%;
      }
    }
    #sec1 {
      grid-template-columns: 1fr;
      .welcom {
        box-sizing: border-box;
        height: 100px;
        text-align: center;
        width: 310px;
        margin: 20px auto;
        h2 {
          font-size: 3rem;
          line-height: 3.8rem;
        }
        span.welcome-single {
          margin-right: 15px;
          text-align: right;
        }
        p {
          padding: 1rem;
          width: 100%;
          font-size: 0.8rem;
          text-align: center;
        }
      }
      .main-img-div {
        display: img {
          width: 300px;
          padding-bottom: 10px;
          margin: auto;
        }
      }
    }
  }
}
